<div style="text-align: center; margin-top: 50px;">
    <h1 style="text-align: center;">Vimeo Upload</h1>
    <form *ngIf="!response" [formGroup]="uploadForm" (ngSubmit)="uploadFile()" method="POST"
        enctype="multipart/form-data">
        <div>
            <input type="file" name="video" (change)="onSelectFiles($event)" />
        </div>
        <div style="margin: 10px">
            <button mat-raised-button type="submit">Get video size*</button>
        </div>
        <p>* Before upload the video, we need the exact filesize</p>
    </form>

    <div *ngIf="response" [innerHTML]="form2">
    </div>
</div>